<launch>
  <!-- subscribes to cmd_vel topic -->
  <!-- publishes odom topic with base_link frame -->
  <!-- broadcasts odom->base_link transform -->
  <arg name="param" default="value" />
  <node pkg="roboteq_nonholonomic_driver" type="driver" name="roboteq_nonholonomic_driver" output="screen">

    <param name="cmdvel_topic" value="cmd_vel" />
    <!-- specify port for roboteq controller -->
    <param name="port" value="/dev/ttyACM0" />
    <!-- specify baud for roboteq controller -->
    <param name="baud" value="115200" />
    <!-- specify whether to use open-loop motor speed control (as opposed to closed-loop)-->
    <param name="open-loop" value="false" />
  
  </node>
</launch>
